NODE_ENV=development
HOST=0.0.0.0
PORT=1337

APP_KEYS=
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
TRANSFER_TOKEN_SALT=

JWT_SECRET=

# Specify if Connecting to remote Supabase Database
DATABASE_CLIENT=postgres
DATABASE_URL=
DATABASE_SHEMA=public
DATABASE_POOL_MIN=1
DATABASE_POOL_MAX=100

# Specify if Connecting to remote Supabase Bucket (for media storage)
SUPABASE_URL=
SUPABASE_API_URL=
SUPABASE_API_KEY=
SUPABASE_BUCKET=supabase
SUPABASE_DIRECTORY=files

# Specify if using Content Generation
OPEN_AI_API_TOKEN=X

# Specify if using Github-Publish
GITHUB_TOKEN=X
GITHUB_USERNAME=X
GITHUB_REPOSITORY=X
GITHUB_BRANCH=X